.pagination-container {
    position: fixed;
    bottom: 20px; /* Điều chỉnh vị trí nếu cần */
    left: 50%; /* Đặt ở giữa trang */
    transform: translateX(-50%);
    z-index: 1000; /* Đảm bảo thanh phân trang hiển thị trên tất cả các phần khác */
    background-color: white; /* Màu nền */
    padding: 0; /* Khoảng cách giữa các phần tử trong thanh phân trang */
    border-radius: 5px; /* Bo tròn góc */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Đổ bóng */
}

.pagination-container ul {
    margin: 0;
    padding: 0;
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pagination-container ul li {
    margin: 0 0px;
}

.pagination-container ul li a {
    text-decoration: none;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
    color: #333;
}

.pagination-container ul li.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
}

.table-wrapper::-webkit-scrollbar {
    width: 5px; /* Độ rộng của thanh cuộn */
}

.table-wrapper::-webkit-scrollbar-thumb {
    background-color: #888; /* Màu nền của thanh cuộn */
    border-radius: 10px; /* Độ cong của các góc */
}
.pagination-container {
    position: absolute;
    bottom: 0;
    width: 100%;
}

/* CSS cho thanh scrollbar chỉ hiển thị khi màn hình được thu nhỏ */
@media screen and (max-height: 500px) {
    .table-wrapper {
        max-height: 300px; /* Định kích thước tối đa của tbody */
        overflow-y: auto; /* Tạo thanh cuộn dọc */
    }

    .table-wrapper::-webkit-scrollbar {
        width: 5px; /* Độ rộng của thanh cuộn */
    }

    .table-wrapper::-webkit-scrollbar-thumb {
        background-color: #888; /* Màu nền của thanh cuộn */
        border-radius: 10px; /* Độ cong của các góc */
    }
}

/* CSS cho thanh scrollbar không hiển thị khi màn hình mở full */
@media screen and (min-height: 501px) {
    .table-wrapper {
        overflow-y: auto; /* Ẩn thanh scrollbar */
    }

    .table-wrapper::-webkit-scrollbar {
        width: 0; /* Ẩn thanh scrollbar */
    }
}